body{
    text-align: center;
    background:url("../images/weiXinBac.png");
    background-size: cover;
}

p{
    font-size: 16px;
    color:white;
    font-family: 微软雅黑;
}
.weiXin{
    width: 400px;
    height: 260px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.fifteenWX{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.img-group {
	position: relative;
	display: inline-block;
}

.img-tip {
	position: absolute;
	bottom: 0;
	background: #333;
	color: #fff;
	opacity: 0.6;
	display: none;
}

.img-group:hover .img-tip {
	display: block;
	width: 100%;
	text-align: center;
}

.imgSize {
	width: 700px;
	height: 400px
}

#center {
	margin: 0 auto
}

.imgSplace {
	float: left;
	margin: 0 auto;
	width: 100%;
	height: 30%
}
